<template>
    <div class="board">
        <menu-bar></menu-bar>

        <div class="row">
            <!--<Container @drop="onDrop">-->
            <Draggable :list="lanesItems" :move="checkMove" :options="{ group: 'lanesItems'}">
                <div v-for="lane in lanesItems" :key="lane.id" class="col-md">
                    <lane-task :idLane="lane.id" :lane="lane"></lane-task>
                </div>
            </Draggable>
            <!--</Container>-->

        </div>

        <tree-view :data="lanesItems" :options="{rootObjectKey: 'lanesItems', maxDepth:3}"></tree-view>
    </div>
</template>

<script>

  import Draggable from 'vuedraggable';

  // import {Container, Draggable}     from "vue-smooth-dnd";

  import MenuBar    from '../menu/MenuBar';
  import {mapState} from 'vuex';
  import LaneTask   from './LaneTask';

  export default {
    name: 'KanbanBoard',
    computed: {
      ...mapState('kanbanLanesItems', ['lanesItems']),

      // drag: {
      //   get() {
      //     return this.$store.state.kanban.items;
      //   },
      //   set(value) {
      //     console.log(value);
      //     // console.log(' :: ', JSON.stringify(event, null, 2));
      //     // console.log(' :: ', JSON.stringify(items, null, 2));
      //     this.$store.commit('kanban/updateDragItems', value);
      //   }
      // }
    },
    methods: {
      checkMove: function (evt) {
        console.log('Root Moved.');
      },
      checkMoveSub: function (evt) {
        // this.UPDATE_LANE_DRAG_ACTION(applyDrag(this.lanesItems, evt));
        console.log('Child Sub Moved.');
      },
      handleChange() {
        console.log('changed');
      },
      inputChanged(value) {
        this.activeNames = value;
      },
      onDrop: function (dropResult) {
        // this.UPDATE_LANE_DRAG_ACTION(applyDrag(this.lanesItems, dropResult));
      }

    },
    components: {
      MenuBar,
      LaneTask,
      Draggable
    }
  };
</script>
