<template>
    <div class="card task-lane-item">
        <div class="card-block">
            <div v-bind:class="item.state === 0 ? 'card-title my-handle strokeThrough ' : 'card-title my-handle'"
                 @click.prevent="showModal('modal'+item.id)">
                <item-show :item="item"></item-show>
            </div>
            <modal :name="'modal'+item.id" height="auto" :scrollable="true" width="60%" :adaptive="true">
                <div class="card">
                    <div class="card-block">
                        <h5 class="alert alert-dismissible alert-light">
                            <button class="btn btn-warning float-right btn-sm" :title="item.done === 0 ? 'Fait' : 'A faire'">
                                <font-awesome-icon :icon="item.done === 0 ? 'check-square' : 'square'"/>
                            </button>
                            <item-show :item="item" isShort="true"></item-show>
                        </h5>
                        <vue-markdown v-if="item.text" :source="item.text"></vue-markdown>
                        <div v-if="item.todoList">
                            <h6 class="text-muted border-bottom border-light">Todos / Remarques</h6>
                            <vue-markdown :source="item.todoList"></vue-markdown>
                        </div>
                    </div>
                </div>
            </modal>
        </div>
    </div>
</template>

<script>
  import VueMarkdown from 'vue-markdown';
  import itemShow    from '../common/itemShow';

  export default {
    name: 'TaskLaneItem',
    props: ['item'],
    methods: {
      showModal(id) {
        this.$modal.show(id);
      }
    },
    components: {
      itemShow,
      VueMarkdown
    }
  };
</script>

