<template>
    <div class="card">
        <h3 class="card-header">{{lane.name}} {{lane.id}}</h3>
        <span class="badge" :style="badgeStyle(lane.color)"><font-awesome-icon icon="globe"/></span>

        <div class="card-body">

            <!--<Container @drop="onDrop">-->
            <draggable :list="lane.items" :options="{ group: 'items', dragoverBubble: true }" :move="checkMoveSub">
                <div
                        v-for="item in lane.items"
                        :key="item.id"
                >
                    <button class="btn btn-warning float-right btn-sm ml-2"
                            :title="item.done === 0 ? $t('kanban.item.done') : $t('kanban.item.todo')">
                        <font-awesome-icon :icon="item.done === 0 ? 'check-square' : 'square'"/>
                    </button>
                    <task-lane-item :item="item"></task-lane-item>
                </div>
            </draggable>
            <!--</Container>-->

        </div>
        <div class="card-footer text-muted">
            {{itemCount}}
        </div>

         <!--<tree-view :data="lane.items" :options="{rootObjectKey: 'lane.items', maxDepth:3}"></tree-view>-->
    </div>
</template>

<script>
  import {i18n}              from '../../../../config/lang/lang';
  import Draggable           from 'vuedraggable';
  // import {Container, Draggable} from "vue-smooth-dnd";
  import TaskLaneItem        from './LaneTaskItem';
  import {applyDragLaneItem} from '../../../../tools/utils/drag';

  export default {
    name: 'LaneTask',
    props: ['lane', 'idLane'],
    data: function () {
      return {
        allData: null
      };
    },
    computed: {
      itemCount() {
        if (!this.items) return '';
        let nbItems = 0;
        for (let [index, el] of this.items.entries()) {
          if (el.lane === this.idLane) {
            nbItems++;
          }
        }
        if (nbItems === 1) {
          return '1 ' + i18n.t('kanban.item.task', 0);
        }
        return nbItems + ' ' + i18n.t('kanban.item.task', 1);
      }
    },
    methods: {
      badgeStyle(color) {
        return 'background-color:' + color + ';margin:0;text-align:left';
      },
      checkMoveSub: function (evt, originalEvent) {
        console.log(evt.oldIndex)

        console.log('this.lane.items :: ', JSON.stringify(this.lane.items,null,2))
        // console.log('evt.relatedContext.element :: ', JSON.stringify(evt.relatedContext.element,null,2))


        console.log('Sub Moved.');
      },

      onDrop: function (dropResult) {
        // this.$store.dispatch('kanbanLanesItems/DRAG__LANES_ITEMS_ACTION', applyDragLaneItem(this.lane, dropResult));
      }
    },
    components: {
      draggable: Draggable,
      TaskLaneItem
    },
  };
</script>
