<template>
    <div>
        <menu-bar></menu-bar>
        <!--<tree-view :data="model" :options="{rootObjectKey: 'model', maxDepth:3}"></tree-view>-->

        <!--formulaire-->
        <div class="row mt-4">
            <div class="col add-item">
                <form action="#" method="post" v-on:submit.prevent="submitForm">
                    <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
                    <button type="submit" class="btn btn-primary btn-sm float-left mr-3">{{$t('kanban.lane.save')}}</button>
                    <button class="btn btn-primary btn-sm float-right" @click.prevent="newItem">{{$t('kanban.lane.newLane')}}</button>
                </form>
                {{$t('kanban.lane.previewColorSelected')}} : <span class="p-2" :style="'background-color:'+model.color">{{model.color}}</span>
                <v-select
                        label="name"
                        :options="tabColors"
                        :placeholder="$t('kanban.lane.previewColors')"
                        class="mt-5"
                >
                    <template slot="option" slot-scope="dataList">
                        <div class="float-left">
                            {{ dataList.name}} <span class="selectColors" :style="'background-color:' + dataList.id">dataList.name</span>
                        </div>
                    </template>
                </v-select>
            </div>
        </div>

        <!--Liste des lanes-->
        <div class="mt-4">
            <Container @drop="onDrop">
                <Draggable
                        v-for="lane in lanesItems"
                        :key="lane.id"
                        class="card"
                >
                    <div v-bind:class="lane.state === 0 ? 'card-block my-handle strokeThrough' : 'card-block my-handle'">
                        <button class="btn btn-danger float-right btn-sm ml-2" @click="showModalDelete(lane)">
                            <font-awesome-icon icon="trash"/>
                        </button>
                        <button class="btn btn-success float-right btn-sm ml-2" @click="editItem(lane)">
                            <font-awesome-icon icon="edit"/>
                        </button>
                        <button :class="lane.state === 0 ? 'btn btn-ghost float-right btn-sm ml-2' : 'btn btn-info float-right btn-sm ml-2'"
                                @click="toggleState(lane)"
                                :title="lane.state === 0 ? $t('kanban.lane.closed') : $t('kanban.lane.opened')">
                            <font-awesome-icon :icon="lane.state === 0 ? 'times-circle' : 'circle'"/>
                        </button>
                        <span
                                class="badge mr-2"
                                :style="'background-color:'+lane.color"
                        >
                            <font-awesome-icon icon="globe"/>
                        </span>
                        {{lane.name}}
                    </div>
                </Draggable>
            </Container>

            <!--Modal delete Lane-->
            <b-modal ref="modalDelete"
                     :title="$t('kanban.lane.DeleteLane')"
                     :hide-footer="true"
            >
                <p class="d-block m-b-5">
                    {{$t("kanban.lane.areYouSureToDelete")}}
                </p>
                <p class="d-block m-t-5">
                    <button class="btn btn-warning float-right" @click.prevent="hideModalDelete">{{$t("kanban.lane.cancel")}}</button>
                    <button class="btn btn-primary" @click.prevent="deleteItem">{{$t("kanban.lane.delete")}}</button>
                </p>
            </b-modal>

        </div>

        <!--<tree-view :data="lanesItems" :options="{rootObjectKey: 'lanesItems', maxDepth:3}"></tree-view>-->


    </div>
</template>

<script>
  import {i18n}                 from '../../../../config/lang/lang';
  import CONSTANTS              from '../../../../config/const';
  import {mapState, mapActions} from 'vuex';
  import MenuBar                from '../menu/MenuBar';
  import VueFormGenerator       from "vue-form-generator";
  import {Container, Draggable} from "vue-smooth-dnd";
  import {applyDrag}            from '../../../../tools/utils/drag';

  // node_modules/vue-form-generator/src/utils/validators.js
  VueFormGenerator.validators.resources.fieldIsRequired = i18n.t('kanban.lane.fieldIsRequired');
  VueFormGenerator.validators.resources.textTooSmall = i18n.t('kanban.lane.textTooSmall');


  export default {
    name: "lanes",
    data() {
      return {
        tabColors: CONSTANTS.tabColors,
        model: {
          id: null,
          name: null,
          color: null,
          state: 1
        },
        schema: {
          fields: [
            {
              type: "input",
              inputType: "text",
              label: i18n.t('kanban.lane.input.label'),
              model: "name",
              placeholder: i18n.t('kanban.lane.input.placeholder'),
              min: 3,
              validator: ["string"],
              required: true
            },
            {
              type: "select",
              label: i18n.t('kanban.lane.select.colors'),
              model: "color",
              values: CONSTANTS.tabColors,
              itemContainerComponent: ''
            }
          ]
        },
        formOptions: {
          validateAfterLoad: true,
          validateAfterChanged: true
        }
      };
    },
    computed: {
      ...mapState('kanbanLanesItems', ['lanesItems'])
    },
    methods: {
      ...mapActions({
        ADD_LANE_ACTION: 'kanbanLanes/ADD_LANE_ACTION',
        UPDATE_LANE_DRAG_ACTION: 'kanbanLanes/UPDATE_LANE_DRAG_ACTION',
        DELETE_LANE_ACTION: 'kanbanLanes/DELETE_LANE_ACTION'
      }),
      showModalDelete(lane) {
        this.$refs.modalDelete.show(lane);
      },
      hideModalDelete() {
        this.$refs.modalDelete.hide();
      },
      newItem() {
        this.model = {
          'id': null,
          'name': null,
          'color': null,
          'state': 1
        };
      },
      submitForm() {
        this.ADD_LANE_ACTION(this.model);
      },
      editItem(item) {
        this.model = item;
      },
      deleteItem(item) {
        this.DELETE_LANE_ACTION(item);
        this.hideModalDelete();
      },
      toggleState(item) {
        item.state = item.state === 0 ? 1 : 0;
        this.ADD_LANE_ACTION(item);
      },
      onDrop: function (dropResult) {
        this.UPDATE_LANE_DRAG_ACTION(applyDrag(this.lanesItems, dropResult));
      }
    },
    components: {
      MenuBar,
      "vue-form-generator": VueFormGenerator.component,
      Container,
      Draggable
    }
  };
</script>