@import "../settings/color";

.badge {
  padding: 0.3em 0.5em;
  margin: 0 0 0 15px;
  letter-spacing: 1px;
  font-weight: normal;
  /*font-size: 90%;*/
  font-variant: petite-caps;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 1px 1px rgba(0, 0, 0, .1);
}

.badgePerso {
  min-width: 3rem;
  display: inline-block;
  padding: 0.1em 0.4em;
  letter-spacing: 1px;
  font-weight: normal;
  /*font-size: 90%;*/
  font-variant: petite-caps;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 1px rgba(0, 0, 0, .1)
}