.card {
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 25px;
}

.card-block {
  padding: 10px;
}

.card-header {
  padding: 0.5rem 1rem;
}

.card-title {
  margin: 0;
}

.card-body {
  padding: 5px;
  margin-bottom: 10px;
}

.card-body .card {
  padding: 5px;
  margin-bottom: 10px;
}

.card-body > * {
  min-height: 50px;
}

.card.task-lane-item {
  background-color: #627180;
}