pre {
  color:#fff;
  font-family: monospace !important;
  font-size: .75em;
  white-space: pre-wrap !important;
  line-height: 1.2em !important;
  //background: linear-gradient(180deg, #e9e9e9 0, #e9e9e9 1.2em, #f1f1f1 0) !important;
  background: linear-gradient(180deg, #313131 0, #313131 1.2em, #2b2b2b 0) !important;
  background-size: 2.4em 2.4em !important;
  background-origin: content-box !important;
  padding: 5px !important;
}

pre code {
  line-height: inherit !important;
}


