@import "../settings/color";
.shadow {
  -webkit-filter: drop-shadow(1px 2px 0px $text-color-inset-light);
  filter: drop-shadow(1px 2px 0px $text-color-inset-light);
}

.strokeThrough {
  text-decoration: line-through;
}

.opa25 {
  @include opacity(0.25);
}