@import "~bootswatch/dist/superhero/variables";
@import "../settings/color";

.add-item input,
.add-item textarea,
.add-item .v-select {
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  transition: all 0.25s;
  background-color: $body-bg-light !important;
  color: $white !important;
}

.add-item input:focus,
.add-item textarea:focus,
.add-item .v-select:focus {
  border-bottom-color: rgba(0, 0, 0, .5);
  background-color: $body-bg-dark !important;
  box-shadow: 0 0 0 0;
}

.add-item textarea {
  min-height: 5rem;
}

.add-item .v-select .selected-tag,
.add-item .v-select ul.dropdown-menu,
.add-item .v-select ul.dropdown-menu li {
  background-color: $body-bg !important;
  color: $white !important;
}

.v-select .dropdown-menu > .highlight > a,
.v-select .active .highlight {
  background-color: $white !important;
  color: $body-bg !important;
}

.priorities {
  padding: 5px;
  width: 100%;
  display: table;
}

element.style {
  max-height: 400px;
}

.add-item {
  margin: 0 0 15px 0;
}

.invalid-feedback {
  display: block;
  color: $red;
}