.AppHeader {
  padding-top: $spacer-tiny;
  padding-bottom: $spacer-tiny;
  //background: $gray-200;

  &__wrapper {
    @include wrapper();
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    font-weight: 500;

    &,
    &:visited {
      color: inherit;
    }

    @media (min-width: 30em) {
      font-size: 2em;
    }
  }

  &__nav {
    margin-left: $spacer-tiny;
  }

  &__navList {
    display: flex;
  }

  &__navItem {
    &:not(:first-child) {
      margin-left: $spacer-tiny;

      &::before {
        margin-right:  $spacer-tiny;
        content: '|';
      }
    }
  }

  &__navLink {
    text-decoration: none;

    &,
    &:visited {
      color: inherit;
    }

    &:focus,
    &:hover,
    &.is-active {
      text-decoration: underline;
    }
  }
}