nav li:before {
  content: "";
  margin:0;
}
nav ul ul {
  background-color: $body-bg;
  position: absolute;
  z-index: 99;
  display: none;
  padding:0 10px 5px 10px;
  border-right:1px solid $gray-800;
  border-bottom:1px solid $gray-800;
  box-shadow:2px 2px 10px $gray-800;
  -moz-box-shadow:2px 2px 10px $gray-800;
  -webkit-box-shadow:2px 2px 10px $gray-800;
}
nav li:hover ul {
  display: block;
}
nav ul ul li {
  width: 100%;
}