<template>
  <header :class="$options.name">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" v-for="route in localRoutes" :key="route.id">

            <router-link
                :to="{ name: route.name  }"
                :class="$route.name === route.name  ? `nav-link active` : `nav-link`"
            >
              {{ route.name }}
            </router-link>
          </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
          {{$route.name}}
        </div>
      </div>
    </nav>
  </header>
</template>


<script>
  export default {
    name: `AppHeader`,
    data() {
      return {};
    },
    computed: {
      localRoutes: function () {
        let localRoutes = [];
        for (let i in this.$router.options.routes) {
          if (!this.$router.options.routes.hasOwnProperty(i)) {
            continue;
          }
          let route = this.$router.options.routes[i];

          if (route.hasOwnProperty('id')) {
            localRoutes.push(route);
          }
        }
        return localRoutes;
      }
    },
  };
</script>
