<template>
    <div :class="$options.name">
        <slot name="header">
            <app-header/>
        </slot>
        <main :class="`${$options.name}__main`">
            <slot/>
        </main>
        <slot name="footer"></slot>
    </div>
</template>

<script>
  import AppHeader from '../app/AppHeader.vue';
  import AppFooter from '../app/AppFooter.vue';

  export default {
    name: `LayoutDefault`,
    components: {
      AppHeader,
      AppFooter
    }
  };
</script>
