<template>
    <div v-bind:class="localItem.state === 0 ? 'strokeThrough' : ''">
        <project :project="localItem.project" class="ml-2"></project>
        <span v-if="isShort" class="text-muted small ml-2">#{{localItem.id}}</span>
        <priority :priority="localItem.priority" class="ml-2"></priority>
        <span class="ml-2">{{localItem.title}} {{localItem.id}}</span>
        <span class="ml-2 small" v-if="localItem.date && isShort">( {{localItem.date | dateToFormat}} )</span>
        <span v-if="isShort" class="badge ml-2" :style="badgeClass(localItem)">{{badgeText(localItem)}}</span>
        <span v-if="localItem.todoList" class="float-right mr-2" title="todos / remarques"><font-awesome-icon icon="server"/></span>
    </div>
</template>

<script>
  import {mapState}     from 'vuex';
  import Project        from './Project';
  import Priority       from './Priority';
  import {getItemIndex} from "../../../../tools/utils/itemLaneIntegrator";

  export default {
    name: "itemShow",
    props: ['item', 'isShort'],
    data() {
      return {
        localItem: null
      };
    },
    computed: {
      ...mapState('kanbanLanes', ['lanes'])
    },
    methods: {
      badgeText(item) {
        try {
        let index = getItemIndex(this.lanes, item.lane.id);
        return this.lanes[index].name;
        } catch (e) {
        }
      },
      badgeClass(item) {
        try {
          let index = getItemIndex(this.lanes, item.lane.id);
          return 'background-color:' + this.lanes[index].color;
        } catch (e) {
        }
      }
    },
    watch: {
      item: {
        immediate: true, handler() {
          if (this.item) {
            if (this.item.hasOwnProperty('lane')) {
              if (this.item.lane > 0) {
                let laneIndex = getItemIndex(this.lanes, this.item.lane);
                this.item.lane = this.lanes[laneIndex];
              }
            }
            this.localItem = this.item;
          }
        }
      }
    },
    components: {
      Project,
      Priority
    }
  };
</script>
