<template>
    <span
            class="badge"
            :style="'background-color:'+ localPriority.backGroundColor"
    >
        <font-awesome-icon icon="bolt" class="shadow"/>
        <span v-html="localPriority.label"></span>
    </span>
</template>

<script>
  import CONSTANTS      from '../../../../config/const';
  import {getItemIndex} from "../../../../tools/utils/itemLaneIntegrator";

  export default {
    name: "Priority", data() {
      return {
        localPriority: {label: '&nbsp;', backGroundColor: '#414A4C'}
      };
    },
    props: {
      priority: {
        type: String
      }
    },
    watch: {
      priority: {
        immediate: true, handler() {
          if (this.priority) {
            let index = getItemIndex(CONSTANTS.tabPriorities, this.priority);
            this.localPriority = CONSTANTS.tabPriorities[index];
            // console.log(' :: ', JSON.stringify( this.localPriority,null,2))
          }
        }
      }
    }
  };
</script>
