<template>
    <span class="badgePerso" v-html="localProject.label"></span>
</template>

<script>
  import CONSTANTS      from '../../../../config/const';
  import {getItemIndex} from "../../../../tools/utils/itemLaneIntegrator";


  export default {
    name: "Project", data() {
      return {
        localProject: {id: null, label: '&nbsp;'}
      };
    },
    props: {
      project: {
        type: String
      }
    },
    watch: {
      project: {
        immediate: true, handler() {
          if (this.project) {
            let index = getItemIndex(CONSTANTS.tabProject, this.project);
            this.localProject = CONSTANTS.tabProject[index];
            // console.log(' :: ', JSON.stringify(this.localProject, null, 2));
          }
        }
      }
    }
  };
</script>
