<template>
    <div class="menubar">
        <!--<tree-view :data="$store.state.kanban" :options="{rootObjectKey: '$store.state.kanban', maxDepth:4}"></tree-view>-->
        <div class="btn-group" role="group" aria-label="Menu bar">
            <router-link to="/board" exact :class="buttonClass('/board')">Board</router-link>
            <router-link to="/backlog" exact :class="buttonClass('/backlog')">Backlog</router-link>
            <router-link to="/lanes" exact :class="buttonClass('/lanes')">Lanes</router-link>
            <router-link to="/Kanban" exact :class="buttonClass('/Kanban')">Kanban</router-link>
        </div>
    </div>
</template>

<script>
  export default {
    name: "MenuBar",
    methods: {
      buttonClass(path) {
        return {
          btn: true, 'btn-primary': this.$route.path === path, 'btn-secondary': this.$route.path !== path
        };
      }
    }
  };
</script>