<template>
    <div>
        <div class="drag">

            <draggable :element="'ul'" :list="teams" class="dragArea" :move="checkMove" :options="{ group: 'team'}">
                <li v-for="item in teams">
                    <p>{{item.name}}</p>
                    <test-kan-ban-drag-local v-if="item.members" :members="item.members"></test-kan-ban-drag-local>

                    <!--<draggable :element="'ul'" :list="item.members" class="dragArea" :options="{ group: 'member', dragoverBubble: true }"-->
                    <!--:move="checkMoveSub">-->
                    <!--<li v-for="el in item.members">-->
                    <!--{{el.name}}-->
                    <!--</li>-->
                    <!--</draggable>-->
                </li>
            </draggable>


        </div>
    </div>
</template>

<script>
  import draggable           from "vuedraggable";
  import testKanBanDragLocal from "./testKanBanDragLocal";

  export default {
    name: "testKanBanDrag",
    data() {
      return {
        teams: [
          {
            "name": "Team 1",
            "members": [
              {
                "name": "Team 1 - Team member 1"
              },
              {
                "name": "Team 1 - Team member 2"
              }
            ]
          },
          {
            "name": "Team 2",
            "members": [
              {
                "name": "Team 2 - Team member 1"
              },
              {
                "name": "Team 2 - Team member 2"
              }
            ]
          },
          {
            "name": "Team 3",
            "members": [
              {
                "name": "Team 3 - Team member 1"
              },
              {
                "name": "Team 3 - Team member 2"
              },
              {
                "name": "Team 3 - Team member 3"
              }
            ]
          }
        ]
      };
    },
    methods: {
      checkMove: function (evt) {
        console.log('Root Moved.');
      }

    },
    components: {
      draggable,
      testKanBanDragLocal
    }
  };
</script>

<style lang="scss">
    .drag {
        ul, li {
            list-style: none !important;
            &:before {
                content: '';
                margin: 0;
            }
        }

        li {
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-bottom: 0;
            padding: 0px;
            background-color: rgba(0, 0, 0, 0.15);
            li {
                border: 0 none;
                border-top: 1px solid rgba(0, 0, 0, 0.5);
                padding: 10px;
                text-align: center;
            }
        }

        .dragArea {
            min-height: 10px;
        }
    }
</style>