<template>
    <draggable :element="'ul'" :list="members" class="dragArea" :options="{ group: 'member', dragoverBubble: true }"
               :move="checkMoveSub">
        <li v-for="el in members">
            {{el.name}}
        </li>
    </draggable>
</template>

<script>
  import draggable           from "vuedraggable";
  export default {
    name: "testKanBanDragLocal",
    props: ['members'],
    methods : {
      checkMoveSub: function (evt) {
        console.log('Sub Moved.');
      }
    },
    components : {
      draggable
    }
  };
</script>

<style scoped>

</style>