<template>
    <div>
        <menu-bar></menu-bar>
        <h2>kanban</h2>
        <div class="row">
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="saveFile()">Sauvegarder en JSON</button>
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="deleteBackLog()">Delete Backlog</button>
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="cleanLanes()">clean lanes</button>
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="deleteLanes()">delete lanes</button>
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="deleteLanesItemsAll()">delete Lanes + Items (tout)</button>
            <button type="button" class="btn btn-warning float-right btn-sm ml-2" v-on:click="deleteLanesItems()">delete in Lanes :: Items</button>
        </div>
        <!--<cards></cards>-->
        <test-kan-ban-drag></test-kan-ban-drag>
    </div>
</template>

<script>
  import {format}       from 'date-fns';
  import MenuBar        from '../modules/kanban/menu/MenuBar';
  import Cards          from '../modules/_test/Cards';
  import testKanBanDrag from '../modules/_test/testKanBanDrag';

  export default {
    name: "Kanban",
    data() {
      return {};
    },

    methods: {
      saveFile: function () {
        const data = JSON.stringify(this.$store.state.kanban);
        const blob = new Blob([data], {type: 'text/plain'});
        const e = document.createEvent('MouseEvents'), a = document.createElement('a');
        let suffixByDate = format(new Date(), 'YYYY-MM-DDTHH:mm:ss');
        a.download = suffixByDate + "_kanban.json";
        a.href = window.URL.createObjectURL(blob);
        a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
        e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        a.dispatchEvent(e);
      },
      deleteBackLog: function () {
        this.$store.commit('kanbanItems/deleteItems');
      },
      cleanLanes: function () {
        this.$store.commit('kanbanLanes/cleanLanes');
      },
      deleteLanes: function () {
        this.$store.commit('kanbanLanes/deleteLanes');
      },
      deleteLanesItemsAll: function () {
        this.$store.commit('kanbanLanesItems/deleteLanesItemsAll');
      },
      deleteLanesItems: function () {
        this.$store.dispatch('kanbanLanesItems/DELETE_LANES_ITEMS_ACTION');
      }
    },
    components: {
      MenuBar,
      Cards,
      testKanBanDrag
    }
  };
</script>
