<template>
    <div>
        <menu-bar></menu-bar>

        <div class="row mt-4">
            <div class="col">
                <new-item-form :item="item"></new-item-form>
            </div>
        </div>
        <!--<tree-view :data="items" :options="{rootObjectKey: 'items', maxDepth:3}"></tree-view>-->


        <div class="mt-4">
            <Draggable :list="items" :options="{ group: 'items', dragoverBubble: true }" :move="checkMoveSub">
                <div
                        v-for="itemData in items"
                        :key="itemData.id"
                        :class="getCSSState(itemData)"
                >
                    <div class="card-block my-handle">
                        <button class="btn btn-danger float-right btn-sm ml-2" @click="deleteItem(itemData)">
                            <font-awesome-icon icon="trash"/>
                        </button>
                        <button class="btn btn-success float-right btn-sm ml-2" @click="editItem(itemData)">
                            <font-awesome-icon icon="edit"/>
                        </button>

                        <button :class="itemData.state === 0 ? 'btn btn-ghost float-right btn-sm ml-2' : 'btn btn-info float-right btn-sm ml-2'"
                                @click="toggleState(itemData)"
                                :title="itemData.state === 0 ? $t('kanban.lane.closed') : $t('kanban.lane.opened')">
                            <font-awesome-icon :icon="itemData.state === 0 ? 'times-circle' : 'circle'"/>
                        </button>
                        <button class="btn btn-warning float-right btn-sm ml-2" @click="toggleDone(itemData)"
                                :title="itemData.done === 0 ? 'Fait' : 'A faire'">
                            <font-awesome-icon :icon="itemData.done === 0 ? 'check-square' : 'square'"/>
                        </button>
                        <item-show :item="itemData" isShort="false"></item-show>
                    </div>
                </div>
            </Draggable>

        </div>
        <!--<tree-view :data="lanesItems" :options="{rootObjectKey: 'lanesItems', maxDepth:4}"></tree-view>-->

    </div>
</template>

<script>
  import {mapState}  from 'vuex';
  import MenuBar     from '../menu/MenuBar';
  import NewItemForm from './NewItemForm';
  import itemShow    from '../common/itemShow';
  import Draggable   from 'vuedraggable';

  export default {
    name: "backlog",
    data() {
      return {
        item: null
      };
    },
    computed: {
      ...mapState('kanbanItems', ['items']),
      ...mapState('kanbanLanesItems', ['lanesItems']),
      ...mapState('kanbanLanes', ['lanes'])
    },
    methods: {
      onDrop: function (dropResult) {
        // this.$store.commit('kanban/updateDragItems', applyDrag(this.items, dropResult))
      },
      getCSSState(itemData) {
        let done = itemData.done === 0 ? 'card bg-secondary border-secondary' : 'card';
        let state = itemData.state === 0 ? 'opa25' : '';
        return done + ' ' + state;
      },
      editItem(item) {
        this.item = item;
      },
      deleteItem: function (item) {
        this.$store.dispatch('kanbanItems/DELETE_ITEM_ACTION', item);
      },

      checkMoveSub: function (evt, originalEvent) {
        console.log('Sub Moved.');
      },
    },
    components: {
      MenuBar,
      NewItemForm,
      itemShow,
      Draggable
    }
  };
</script>
