<template>
    <div class="form-group add-item">
        <!--<tree-view :data="lanes" :options="{rootObjectKey: 'lanes', maxDepth:3}"></tree-view>-->

        <form action="#" method="post" v-on:submit.prevent="submitForm">
            <div class="form-row">
                <div class="col-md-2">
                    <v-select
                            label="name"
                            v-model="localItem.lane"
                            :options="lanesItems"
                            :placeholder="$t('kanban.lane.select.placeholder')"
                    >
                        <template slot="option" slot-scope="dataList">
                            <span class="badge" :style="badgeStyle(dataList.color)"><font-awesome-icon icon="globe"/></span>
                            {{ dataList.name}}
                        </template>
                    </v-select>
                    <div class="invalid-feedback" v-if="!$v.localItem.lane.required">{{$t('kanban.lane.select.error')}}</div>

                    <v-select
                            v-model="localItem.project"
                            :options="tabProject"
                            :placeholder="$t('kanban.project.select.placeholder')"
                    >
                    </v-select>
                    <v-select
                            v-model="localItem.priority"
                            :options="tabPriorities"
                            :placeholder="$t('kanban.priority.select.placeholder')"
                    >
                        <template slot="option" slot-scope="dataList">
                            <span class="priorities" :style="'background-color:'+dataList.backGroundColor">
                                <font-awesome-icon icon="bolt"/> {{ dataList.label}}
                            </span>
                        </template>
                    </v-select>
                </div>

                <div class="col">
                    <input type="text" v-model="localItem.title" :placeholder="$t('kanban.item.input.placeholder')" class="form-control mb-2">
                    <div class="invalid-feedback" v-if="!$v.localItem.title.required">{{$t('kanban.item.input.error')}}</div>
                    <div class="invalid-feedback" v-if="!$v.localItem.title.minLength">
                        {{ $t('kanban.item.input.errorLength',[$v.localItem.title.$params.minLength.min] ) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" v-model="localItem.date" :placeholder="$t('kanban.item.date.placeholder')" class="form-control mb-2">
                </div>
            </div>

            <textarea-autosize
                    class="form-control mb-2"
                    :placeholder="$t('kanban.item.textareaContent.placeholder')"
                    ref="localItem.text"
                    v-model="localItem.text"
                    :min-height="30"
                    :max-height="350"
            ></textarea-autosize>

            <textarea-autosize
                    class="form-control mb-2"
                    :placeholder="$t('kanban.item.textareaContent.placeholder')"
                    ref="localItem.todoList"
                    v-model="localItem.todoList"
                    :min-height="30"
                    :max-height="350"
            ></textarea-autosize>

            <vue-markdown v-if="localItem.text" :source="localItem.text"></vue-markdown>
            <vue-markdown v-if="localItem.todoList" :source="localItem.todoList"></vue-markdown>

            <button :disabled="submitStatus === 'PENDING'" class="btn btn-primary btn-sm float-left mr-3">{{$t('kanban.item.submit.save')}}</button>

            <p class="badge badge-success" v-if="submitStatus === 'OK'"></p>
            <p class="badge badge-danger" v-if="submitStatus === 'ERROR'">{{$t('kanban.item.submit.ERROR')}}</p>
            <p class="badge badge-disabled" v-if="submitStatus === 'PENDING'">{{$t('kanban.item.submit.PENDING')}}</p>

            <button class="btn btn-primary btn-sm float-right" @click="newItem">{{$t('kanban.item.submit.new')}}</button>
        </form>
    </div>
</template>

<script>
  import CONSTANTS             from '../../../../config/const';
  import {mapState}            from 'vuex';
  import {required, minLength} from 'vuelidate/lib/validators';
  import dateFormat            from 'date-fns/format';
  import VueMarkdown           from 'vue-markdown';
  import {getItemIndex}        from "../../../../tools/utils/itemLaneIntegrator";

  const DATAMASK = {
    'id': null,
    'title': null,
    'text': null,
    'todoList': null,
    'project': null,
    'priority': null,
    'state': null,
    'done': null,
    'date': dateFormat(new Date(), 'YYYY-MM-DD')
  };

  export default {
    name: "NewItemForm",
    data() {
      return {
        localItem: DATAMASK,
        submitStatus: null,
        tabProject: CONSTANTS.tabProject,
        tabPriorities: CONSTANTS.tabPriorities
      };
    },
    props: {
      /**
       * Les textes d'habillage
       * `Label, placeholder, invalidText, validText`
       **/
      item: {
        type: Object,
        default: function () {
          return {
            id: Number,
            title: String,
            text: String,
            todoList: String,
            state: String,
            done: String,
            date: {
              type: Date,
              default: function () {
                return {date: dateFormat(new Date(), 'YYYY-MM-DD')};
              }
            }
          };
        }
      }
    },
    validations: {
      localItem: {
        title: {
          required,
          minLength: minLength(4)
        },
        lane: {
          required
        }
      }
    },
    computed: {
      ...mapState('kanbanLanesItems', ['lanesItems'])
    },
    methods: {
      submitForm() {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = 'ERROR';
        } else {
          this.submitStatus = 'PENDING';
          if (this.localItem) {
            this.$store.dispatch('kanbanItems/ADD_ITEM_ACTION', this.localItem);
            this.submitStatus = 'OK';
          }
        }
      },
      newItem() {
        this.localItem = {
          'id': null,
          'title': null,
          'text': null,
          'todoList': null,
          'project': null,
          'priority': null,
          'state': null,
          'done': null,
          'date': dateFormat(new Date(), 'YYYY-MM-DD')
        };
      },
      badgeStyle(color) {
        return 'background-color:' + color + ';margin:0';
      }
    },
    watch: {
      item: {
        immediate: true, handler() {
          if (this.item) {
            if (this.item.hasOwnProperty('lane')) {
              if (this.item.lane > 0) {
                let laneIndex = getItemIndex(this.kanban, this.item.lane);
                this.item.lane = this.kanban[laneIndex];
              }
            }
            this.localItem = this.item;
          }
        }
      }
    },
    components: {
      VueMarkdown
    }
  };
</script>
