<template>
    <div :class="CSSContainer">
        <layout-default>
            <router-view/>
        </layout-default>
    </div>
</template>

<script>
  import LayoutDefault from './components/layout/LayoutDefault.vue';

  export default {
    name: `App`,
    data() {
      return {
        CSSContainer: ''
      };
    },
    components: {
      LayoutDefault
    }
  };
</script>

<style lang="scss">
    @import './assets/scss/main.scss';
</style>
