$body-bg-light: #43586b;
$body-bg-dark: #202f40;

$color-primary: #00acc1;
$color-secondary: #efefef;
$secondary: $body-bg-dark;

$color-menu-primary: #ececec;
$color-menu-secondary: #e8e8e8;


$border-color-secondary : $secondary;


$text-color-inset-dark: #333;
$text-color-inset: #555;
$text-color-inset-light: #8b8b82;
$text-color-inset-lighter: #ddddd4;