// Spacings
$spacer-tiny             : .25rem  !default;
$spacer-tiny-plus        : .4rem !default;
$spacer-small            : .5rem !default;
$spacer-small-plus       : .75rem !default;
$spacer-medium           : 1rem !default;
$spacer-medium-plus      : 1.5rem !default;
$spacer-large            : 2rem !default;
$spacer-large-plus       : 3rem !default;
$spacer-extra-large      : 4rem !default;
$spacer-extra-large-plus : 5rem !default;
$spacer-ultra-large      : 6rem !default;
$spacer-ultra-large-plus : 7rem !default;