$o-wrapper-sizes: (
    s: 32em,
    m: 75em,
    l: 100em,
    xl:120em
);

@mixin wrapper($size: m) {
  margin-right: auto;
  margin-left: auto;
  padding-right: .1em;
  padding-left: .1em;
  max-width: map-get($o-wrapper-sizes, $size);
}
